.navbar-page {
    font-size: 16px;
    margin-top: 2rem;
    margin-right: 7rem;
    margin-left: 7rem;

    .navbar-content {
        display: flex;

        .navbar-menu {
            display: flex;
            flex: auto;
            margin-right: 2rem;
            color: hsl(220, 14%, 75%);

            .navbar-logo {
                color: black;
                font-weight:900;
                margin-right: 3rem;
            }

            .navbar-item {
                margin-right: 3rem;
                cursor: pointer;

                &:hover {
                    border-bottom: 2px solid hsl(26, 100%, 55%);
                }
            }
        }
        .navbar-object {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .navbar-cart {
                position: relative;
                display: flex;
                align-items: flex-start;

                .cart-number {
                    position: relative;
                    border-radius: 999%;
                    // padding: 0.2rem;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -12.5px;
                    right: 5px;
                    color: white;
                    background-color: hsl(26, 100%, 55%);
                    font-size: 12px;
                    font-weight: 500;
                    
                }
            }

            .navbar-profile {
                margin-left: 2rem;

                img {
                    width: 40%;
                    cursor: pointer;

                    &:hover {
                        border-radius: 2rem solid hsl(26, 100%, 55%);
                    }
                }
            }
        }
    }

    .navbar-line {
        padding-top: 1rem;
        border-bottom: 1px solid hsl(220, 14%, 75%);
    }
}